[data-bach-parallax] {
  opacity: 1 !important;
}
#page-theme [data-bach-id="A152B2BB-E252-8F6E-1899-2296C0D6DCB7"] {
  width: 152px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-top: 2.0rem;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="A152B2BB-E252-8F6E-1899-2296C0D6DCB7"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="EB5D2AD9-580A-1AAE-71F8-0F498ACD3248"] {
  width: 136px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-top: 2.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="EB5D2AD9-580A-1AAE-71F8-0F498ACD3248"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="CD9B8B2F-82AA-6C24-290C-961F251AD9C9"] {
  width: 56px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-top: 1.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="CD9B8B2F-82AA-6C24-290C-961F251AD9C9"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="F578F42D-9F9E-A686-638D-0FD219E2E284"] {
  width: 63px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="F578F42D-9F9E-A686-638D-0FD219E2E284"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="98B91DE3-62D2-7680-62E0-4A61602F5D89"] {
  width: 128px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="98B91DE3-62D2-7680-62E0-4A61602F5D89"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"] {
  width: auto;
  display: table;
  margin-right: auto;
  margin-left: auto;
  float: none;
  margin-top: 3.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"] {
    display: table;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"] {
  table-layout: fixed;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  padding-top: 1.0rem;
  padding-right: 3.0rem;
  padding-bottom: 1.0rem;
  padding-left: 3.0rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #39c795;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: 0px;
}

#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"]:hover {
  background-color: #4dcda0;
}

#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"]:active {
  background-color: #33b486;
}

#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"] {
  border-radius: 500px;
}

#page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"] {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"]:active {
    background-color: #33b486;
  }
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="23801035-24E3-FA4C-5FCB-F2260FCE669A"]:hover {
    background-color: #4dcda0;
  }
}


#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"] {
  width: auto;
  display: table;
  margin-right: auto;
  margin-left: auto;
  float: none;
  margin-top: 3.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"] {
    display: table;
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: 61%;
  }
}

#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"] {
  table-layout: fixed;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  padding-top: 1.0rem;
  padding-right: 3.0rem;
  padding-bottom: 1.0rem;
  padding-left: 3.0rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #39c795;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: 0px;
}

#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"]:hover {
  background-color: #4dcda0;
}

#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"]:active {
  background-color: #33b486;
}

#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"] {
  border-radius: 500px;
}

#page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"] {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"]:active {
    background-color: #33b486;
  }
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="09411704-DFE2-D939-2608-43B5204D82FC"]:hover {
    background-color: #4dcda0;
  }
}


#page-theme [data-bach-id="317C13E6-62D4-9BD6-C789-A3B2D7B3BE8E"] {
  border-color: #0066cc;
  border-style: solid;
  margin-top: 18rem;
  margin-bottom: 0.0rem;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1.00;
  float: none;
  border-width: 0px;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="317C13E6-62D4-9BD6-C789-A3B2D7B3BE8E"] {
    border-color: #0066cc;
    border-style: solid;
    margin-top: 11.2rem;
    margin-bottom: 0.0rem;
    margin-right: auto;
    margin-left: auto;
    opacity: 1.00;
    float: none;
    border-width: 0px;
    display: block;
  }
}


#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"] {
  width: auto;
  display: table;
  margin-right: auto;
  margin-left: 2.0rem;
  float: left;
  margin-top: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"] {
    display: table;
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: 64%;
  }
}

#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"] {
  table-layout: fixed;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  padding-top: 1.0rem;
  padding-right: 3.0rem;
  padding-bottom: 1.0rem;
  padding-left: 3.0rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #39c795;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: 0px;
}

#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"]:hover {
  background-color: #4dcda0;
}

#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"]:active {
  background-color: #33b486;
}

#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"] {
  border-radius: 500px;
}

#page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"] {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"]:active {
    background-color: #33b486;
  }
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="C9AC922B-CFCD-B50D-7DE1-54A8DA776585"]:hover {
    background-color: #4dcda0;
  }
}


#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"] {
  width: auto;
  display: table;
  margin-right: 2.0rem;
  margin-left: auto;
  float: right;
  margin-top: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"] {
    display: table;
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: 61%;
  }
}

#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"] {
  table-layout: fixed;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  padding-top: 1.0rem;
  padding-right: 3.0rem;
  padding-bottom: 1.0rem;
  padding-left: 3.0rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #39c795;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: 0px;
}

#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"]:hover {
  background-color: #4dcda0;
}

#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"]:active {
  background-color: #33b486;
}

#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"] {
  border-radius: 500px;
}

#page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"] {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"]:active {
    background-color: #33b486;
  }
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="66FB21BB-BDDC-5DD1-0400-FE57A0C5E862"]:hover {
    background-color: #4dcda0;
  }
}


#page-theme [data-bach-id="F36B4693-583A-B103-D463-6B7BFC588B6A"] {
  width: 593px;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(57, 199, 149, 0);
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-bottom: 0.0rem;
  margin-top: 2.0rem;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="F36B4693-583A-B103-D463-6B7BFC588B6A"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="8375C9E8-914F-0E67-87B8-88FADA8D7E0A"] {
  width: 89px;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  opacity: 1;
  display: block;
  margin-bottom: 1.0rem;
  margin-top: 3.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="8375C9E8-914F-0E67-87B8-88FADA8D7E0A"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}


#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  display: block;
  margin-bottom: 3.0rem;
  margin-top: 2.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] {
  position: relative;
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] .bach-social__medium {
  opacity: 1;
  transition: opacity .15s linear;
  display: inline-block;
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] .bach-social__medium:hover {
  opacity: .5;
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] {
  text-align: center;
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] .social-circle {
  opacity: 0;
}

#page-theme [data-bach-id="04C3A973-AB1E-A51C-52C3-57F67D7D840D"] .social-icon {
  fill: #fff !important;
}


#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 3.0rem;
  margin-bottom: 0.0rem;
  padding-top: 0.0rem;
  padding-left: 0.0rem;
  padding-right: 0.0rem;
  padding-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] {
  word-break: break-word;
}

#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="D83E7D33-0E1A-FDEB-229B-D8E1FFFE4CDA"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="47DB8CA0-AF9E-07E7-FC0B-4F28771780DF"] {
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 0.0500;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="47DB8CA0-AF9E-07E7-FC0B-4F28771780DF"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="47DB8CA0-AF9E-07E7-FC0B-4F28771780DF"] {
  clear: both;
  border: none;
  float: none;
  background-color: #ffffff;
}


#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 3.0rem;
  margin-bottom: 3.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] {
  word-break: break-word;
}

#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="C1831344-8AF1-8204-8EBA-B9044564CAD2"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="71CEA631-32F4-A60D-E243-B6073F01E3E3"] {
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 3.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="71CEA631-32F4-A60D-E243-B6073F01E3E3"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="71CEA631-32F4-A60D-E243-B6073F01E3E3"] {
  clear: both;
  border: none;
  float: none;
  background-color: rgb(149, 155, 161);
}


#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    margin-top: 5.0rem;
    margin-bottom: 0.0rem;
  }
}

#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] {
  word-break: break-word;
}

#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="39926A01-FA6F-AF24-28F6-A237EC93312C"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] {
  word-break: break-word;
}

#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="15F78D78-D5E3-79C4-B36D-877F8BF1EA59"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] {
  word-break: break-word;
}

#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="95A39097-EA76-46B5-9E4A-BD6F4F26C665"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-bottom: 2.0rem;
  margin-top: 2.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] {
  word-break: break-word;
}

#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="0B1331B8-04E4-8354-8C9C-765128846026"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 3.0rem;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    margin-top: 3.0rem;
    margin-bottom: 0.0rem;
  }
}

#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] {
  word-break: break-word;
}

#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="E3C45C86-C1ED-790F-AA48-F730F28762E2"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="C95E0669-1763-66A1-082A-F8982C3F6A50"] {
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="C95E0669-1763-66A1-082A-F8982C3F6A50"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="C95E0669-1763-66A1-082A-F8982C3F6A50"] {
  clear: both;
  border: none;
  float: none;
  background-color: rgb(149, 155, 161);
}


#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 2.0rem;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] {
  word-break: break-word;
}

#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="56E53F13-E90A-0074-D4B0-F2CD3B06C1DD"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 9.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    margin-top: 9.0rem;
  }
}

#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] {
  word-break: break-word;
}

#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="55FF3215-8C39-AA8A-5323-D146428F8036"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] {
  word-break: break-word;
}

#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="3D4BCEF4-5BAB-97FF-C551-867945158A2C"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  opacity: 1;
  display: block;
  margin-top: 0.0rem;
  margin-bottom: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
}

#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] {
  word-break: break-word;
}

#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] ul {
  list-style: disc;
}

#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] ol {
  list-style: decimal;
}

#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] tr:nth-child(2) {
  background-color: rgb(218, 218, 218);
}

#page-theme [data-bach-id="108922BF-E81F-D927-650A-9AB80CA794E1"] td {
  padding: 2.0rem 4.0rem;
}


#page-theme [data-bach-id="BE3ABE39-8998-FC23-5C51-932333E25C67"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="BE3ABE39-8998-FC23-5C51-932333E25C67"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="6FC5C003-E925-BE05-F2B8-F800184CBEAB"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="6FC5C003-E925-BE05-F2B8-F800184CBEAB"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="92665722-4F94-F861-7C9F-CFC47E775DFB"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="92665722-4F94-F861-7C9F-CFC47E775DFB"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="7BA34023-4F65-CD35-54D5-75F8EEAC6A6A"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="7BA34023-4F65-CD35-54D5-75F8EEAC6A6A"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="361E9E02-FFDF-4E97-C451-55B00AA2B2E8"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="361E9E02-FFDF-4E97-C451-55B00AA2B2E8"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="D56EA373-5267-5B6A-BA7A-E28C85F09F94"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="D56EA373-5267-5B6A-BA7A-E28C85F09F94"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="2B37FE2B-8352-3BF5-E07F-84269F29AA3A"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="2B37FE2B-8352-3BF5-E07F-84269F29AA3A"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="5AA36ECB-9529-8268-1A5F-ADD4F3A16318"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="5AA36ECB-9529-8268-1A5F-ADD4F3A16318"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="8B0AD172-08C5-E8D8-3CFC-6821E7F7F452"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  margin-top: 0.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="8B0AD172-08C5-E8D8-3CFC-6821E7F7F452"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="4D47D697-D167-30C8-4D77-9718A265FB7A"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="4D47D697-D167-30C8-4D77-9718A265FB7A"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="798CE283-3944-DE09-01F3-C97B303C2952"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="798CE283-3944-DE09-01F3-C97B303C2952"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="5541B4C5-1574-B9FB-6D71-9A404D0FE3ED"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="5541B4C5-1574-B9FB-6D71-9A404D0FE3ED"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="F787C6BC-300A-8DFA-A108-82EE48D25A3D"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="F787C6BC-300A-8DFA-A108-82EE48D25A3D"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="51FA9B46-3BF6-2B76-E8A2-E6119EFFC557"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="51FA9B46-3BF6-2B76-E8A2-E6119EFFC557"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="D25E32D6-38FC-C67B-1E1C-B941D18620F8"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
  margin-bottom: 5.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="D25E32D6-38FC-C67B-1E1C-B941D18620F8"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="F2E67B5E-8703-90C0-3167-439D1BA7243A"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="F2E67B5E-8703-90C0-3167-439D1BA7243A"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="2FC1C026-F625-A024-423C-F1D9AFC3DDC1"] {
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="2FC1C026-F625-A024-423C-F1D9AFC3DDC1"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}


#page-theme [data-bach-id="28A1B3BB-E906-88FD-89FD-ED559F9ACFC0"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="28A1B3BB-E906-88FD-89FD-ED559F9ACFC0"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="FC6156EE-BED4-14DF-1B6B-8855B1482A43"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="FC6156EE-BED4-14DF-1B6B-8855B1482A43"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="37A9DDA4-91B1-65C3-497A-3690EE99C428"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="37A9DDA4-91B1-65C3-497A-3690EE99C428"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="69D22C7A-BD2C-6DAE-0C07-7AA544706DF8"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="69D22C7A-BD2C-6DAE-0C07-7AA544706DF8"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="B668A29D-F729-ED4A-D7C3-F14638ABB1F9"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="B668A29D-F729-ED4A-D7C3-F14638ABB1F9"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="234D3902-9B3A-8112-1D5B-FB9D92F6F63D"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="234D3902-9B3A-8112-1D5B-FB9D92F6F63D"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="A932FDE3-37AC-6DD8-1F69-08A77918A382"] {
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  padding-right: 2.0rem;
  padding-left: 2.0rem;
  margin-top: 0.0rem;
  margin-bottom: 0.0rem;
  margin-left: 0.0rem;
  margin-right: 0.0rem;
  border-style: solid;
  border-color: #39c795;
  border-width: 0px;
  float: none;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="A932FDE3-37AC-6DD8-1F69-08A77918A382"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    padding-top: 1.0rem;
    padding-bottom: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="B6EFA540-BAB4-EAED-CCA5-5510A68FCB35"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="B6EFA540-BAB4-EAED-CCA5-5510A68FCB35"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="2D90811B-1985-8645-A25E-0D02B299A01A"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  padding-bottom: 5.0rem;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="2D90811B-1985-8645-A25E-0D02B299A01A"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="646EE90B-9B3D-D2A3-1E66-5407535535BE"] {
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="646EE90B-9B3D-D2A3-1E66-5407535535BE"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="F4AE643F-3F6A-0C29-5F5C-034A7516FD62"] {
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  padding-left: 0.0rem;
  padding-right: 0.0rem;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="F4AE643F-3F6A-0C29-5F5C-034A7516FD62"] {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="61F049BC-EB9D-66EA-533E-2A9AE72CC6B0"] {
  padding-top: 3.0rem;
  padding-bottom: 0.0rem;
  padding-left: 0.0rem;
  padding-right: 0.0rem;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="61F049BC-EB9D-66EA-533E-2A9AE72CC6B0"] {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="B1F20CF8-7633-82FD-C392-9BAB0615DB9E"] {
  padding-top: 2.0rem;
  padding-bottom: 0.0rem;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: #39c795;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="B1F20CF8-7633-82FD-C392-9BAB0615DB9E"] {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="58FC4733-C9B4-7107-D4D1-EE35181C901D"] {
  border-color: #39c795;
  border-style: solid;
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  padding-right: 0.0rem;
  padding-left: 0.0rem;
  float: none;
  display: block;
  border-width: 0px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="58FC4733-C9B4-7107-D4D1-EE35181C901D"] {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="43D7F27F-05B2-9EB6-1DCF-67EEBAE820BA"] {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #ffffff;
  border-style: solid;
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  padding-right: 0.0rem;
  padding-left: 0.0rem;
  float: none;
  display: block;
  border-width: 0px;
}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="43D7F27F-05B2-9EB6-1DCF-67EEBAE820BA"] {
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    padding-top: 0.0rem;
    padding-bottom: 8.0rem;
    display: block;
  }
}


#page-theme [data-bach-id="undefined"] {}

@media screen and (max-width: 767px) {
  #page-theme [data-bach-id="undefined"] {}
}


#page-theme .text-shade-0-4,
#page-theme .text-shade-0-4 a {
  color: rgb(7, 26, 19);
}

#page-theme .text-shade-0-3,
#page-theme .text-shade-0-3 a {
  color: rgb(26, 92, 69);
}

#page-theme .text-shade-0-2,
#page-theme .text-shade-0-2 a {
  color: rgb(42, 147, 110);
}

#page-theme .text-shade-0-1,
#page-theme .text-shade-0-1 a {
  color: rgb(50, 175, 131);
}

#page-theme .text-shade-0-0,
#page-theme .text-shade-0-0 a {
  color: #39c795;
}

#page-theme .text-tint-0-1,
#page-theme .text-tint-0-1 a {
  color: rgb(81, 206, 162);
}

#page-theme .text-tint-0-2,
#page-theme .text-tint-0-2 a {
  color: rgb(108, 214, 177);
}

#page-theme .text-tint-0-3,
#page-theme .text-tint-0-3 a {
  color: rgb(164, 229, 206);
}

#page-theme .text-tint-0-4,
#page-theme .text-tint-0-4 a {
  color: rgb(235, 249, 244);
}

#page-theme .text-shade-1-4,
#page-theme .text-shade-1-4 a {
  color: rgb(3, 5, 7);
}

#page-theme .text-shade-1-3,
#page-theme .text-shade-1-3 a {
  color: rgb(11, 17, 23);
}

#page-theme .text-shade-1-2,
#page-theme .text-shade-1-2 a {
  color: rgb(18, 28, 38);
}

#page-theme .text-shade-1-1,
#page-theme .text-shade-1-1 a {
  color: rgb(21, 33, 45);
}

#page-theme .text-shade-1-0,
#page-theme .text-shade-1-0 a {
  color: #182633;
}

#page-theme .text-tint-1-1,
#page-theme .text-tint-1-1 a {
  color: rgb(52, 64, 75);
}

#page-theme .text-tint-1-2,
#page-theme .text-tint-1-2 a {
  color: rgb(84, 94, 104);
}

#page-theme .text-tint-1-3,
#page-theme .text-tint-1-3 a {
  color: rgb(149, 155, 161);
}

#page-theme .text-tint-1-4,
#page-theme .text-tint-1-4 a {
  color: rgb(232, 233, 235);
}

#page-theme .text-shade-2-4,
#page-theme .text-shade-2-4 a {
  color: rgb(0, 0, 0);
}

#page-theme .text-shade-2-3,
#page-theme .text-shade-2-3 a {
  color: rgb(0, 0, 0);
}

#page-theme .text-shade-2-2,
#page-theme .text-shade-2-2 a {
  color: rgb(0, 0, 0);
}

#page-theme .text-shade-2-1,
#page-theme .text-shade-2-1 a {
  color: rgb(0, 0, 0);
}

#page-theme .text-shade-2-0,
#page-theme .text-shade-2-0 a {
  color: #000000;
}

#page-theme .text-tint-2-1,
#page-theme .text-tint-2-1 a {
  color: rgb(31, 31, 31);
}

#page-theme .text-tint-2-2,
#page-theme .text-tint-2-2 a {
  color: rgb(66, 66, 66);
}

#page-theme .text-tint-2-3,
#page-theme .text-tint-2-3 a {
  color: rgb(138, 138, 138);
}

#page-theme .text-tint-2-4,
#page-theme .text-tint-2-4 a {
  color: rgb(230, 230, 230);
}

#page-theme .text-background {
  color: #F7F7F7;
}

#page-theme .text-foreground {
  color: #ffffff;
}

#page-theme .text-link {
  color: #666666;
}

#page-theme .text-white {
  color: #FFFFFF;
}

#page-theme .text-black {
  color: #000000;
}


#page-theme {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  min-height: 100%;
}

#page-theme blockquote {
  font-size: 24px;
  font-weight: 300;
  color: #777777;
  border-left-color: rgb(154, 154, 154);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 2.0rem;
}

#page-theme p {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
  min-height: 1.5em;
}

#page-theme h1,
#page-theme h2,
#page-theme h3,
#page-theme h4,
#page-theme h5,
#page-theme h6 {
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
  min-height: 1.5em;
}

#page-theme em,
#page-theme i {
  font-style: italic;
}

#page-theme b,
strong {
  font-weight: bold;
}

#page-theme h1 {
  font-size: 5.6rem;
}

#page-theme h2 {
  font-size: 4.8rem;
}

#page-theme h3 {
  font-size: 4rem;
}

#page-theme h4 {
  font-size: 3.2rem;
}

#page-theme h5 {
  font-size: 2.4rem;
}

#page-theme h6 {
  font-size: 2rem;
}

#page-theme a {
  color: #666666;
  text-decoration: none;
}

#page-theme .page-container {
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  #page-theme blockquote {
    font-size: 24px;
    font-weight: 300;
    color: #777777;
    border-left-color: rgb(154, 154, 154);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 2.0rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme p {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
    min-height: 1.5em;
  }
}

@media screen and (max-width: 767px) {

  #page-theme h1,
  #page-theme h2,
  #page-theme h3,
  #page-theme h4,
  #page-theme h5,
  #page-theme h6 {
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
    min-height: 1.5em;
  }
}

@media screen and (max-width: 767px) {

  #page-theme em,
  #page-theme i {
    font-style: italic;
  }
}

@media screen and (max-width: 767px) {

  #page-theme b,
  strong {
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h1 {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h2 {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h3 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h4 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h5 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme h6 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  #page-theme a {
    color: #666666;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  #page-theme .page-container {
    max-width: 900px;
  }
}


body,
html {
  height: 100%;
  width: 100%;
  font-size: 10px
}

* {
  box-sizing: border-box
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle
}

iframe {
  max-width: 100%
}

em {
  font-style: italic
}

img[height],
img[width] {
  max-width: none
}

button {
  margin: 0
}

hr {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .15);
  margin: 0
}

.page-container {
  margin: 0 auto
}

.page-container.page-container--full {
  max-width: 100% !important
}

.light {
  font-weight: lighter
}

.page-col-1 {
  width: 8.33333%
}

.page-col-2 {
  width: 16.66667%
}

.page-col-3 {
  width: 25%
}

.page-col-4 {
  width: 33.33333%
}

.page-col-5 {
  width: 41.66667%
}

.page-col-6 {
  width: 50%
}

.page-col-7 {
  width: 58.33333%
}

.page-col-8 {
  width: 66.66667%
}

.page-col-9 {
  width: 75%
}

.page-col-10 {
  width: 83.33333%
}

.page-col-11 {
  width: 91.66667%
}

.page-col-12 {
  width: 100%
}

.column-counter-5 {
  width: 20% !important
}

.contain {
  position: relative
}

.media {
  display: block
}

.media::after {
  content: '';
  display: table;
  clear: both
}

.media__img {
  float: left
}

.media__body {
  overflow: hidden;
  zoom: 1
}

.pull-right {
  float: right
}

.page-column {
  min-height: 1px;
  float: left
}

.page-column-full {
  width: 100%
}

.page-column-inner {
  position: relative;
  max-width: 100%
}

.clearfix {
  display: block
}

.clearfix::after,
.clearfix::before {
  content: ' ';
  display: table;
  clear: both
}

.prevent-collapse {
  overflow: hidden
}

.bach-component {
  position: relative;
  max-width: 100%
}

.bach-image-caption .media__img {
  max-width: 75%
}

.bach-divider {
  background-clip: content-box !important;
  box-sizing: content-box !important;
  border-top: 20px solid transparent !important;
  border-bottom: 20px solid transparent !important
}

.bach-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0
}

.bach-text {
  position: relative;
  word-break: normal
}

.bach-button {
  word-break: normal
}

.bach-scratch {
  position: relative;
  overflow: hidden;
  z-index: 1
}

.bach-video embed,
.bach-video iframe,
.bach-video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.bach-form__checkbox>span *,
.bach-form__radio-option>span * {
  display: inline
}

.bach-navigation-mobile-menu {
  display: none
}

.bach-navigation-mobile-menu-input {
  display: none !important
}

.bach-countdown {
  font-size: 0
}

.bach-countdown__group,
.bach-form__fieldset,
.bach-list-item,
.bach-navigation-list,
.bach-social__medium {
  position: relative
}

.bach-mobile-only {
  display: none
}

.bach-background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
  overflow: hidden
}

.bach-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.bach-background embed,
.bach-background iframe,
.bach-background object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none
}

@media screen and (max-width:767px) {
  .bach-mobile-only {
    display: block
  }

  .bach-desktop-only {
    display: none
  }

  .is-responsive .page-column {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto
  }

  .media__img {
    width: 100% !important;
    max-width: 100% !important
  }

  .media__body {
    float: left
  }
}